<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Page</title>
  <link href="style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.3/socket.io.min.js" integrity="sha512-uxgT9qpJ2dYbAdKgbmD+b9e5rEta2gULQno8q0mm8t7CNLUwIOm7V3ALywTg6dAIbw9JxGi6aa3RCRLRdSW15Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="app.js"></script>
</head>
<body>
  <a href="/" class="startGameButton">Go back to main menu</a>
  <p id="handDisplay"></p>
</body>
</html>